"Article-003.eps"
"Article-003.pdf"
"Article.aux"
"Article.bbl"
"Article.bib"
"Article.blg"
"Article.log"
"Article.pdf"
"Article.R"
"Article.Rnw"
"Article.tex"
"bioinfo.cls"
"natbib.bst"
"natbib.sty"
"sweaveit.bat"
"SweaveIt.Rout"
"manual.pdf"
"manual.log"
"manual.aux"
"manual.synctex.gz"